.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.main-widgets {
  margin-bottom: 30px;
  background-color: var(--accent-bg);
  padding: 30px;
  border-radius: 5px;
}
.input-section {
  display: flex;
  gap: 10px;

  & input.main-input  {
    flex: 1;
  }
  & > * {
    margin-bottom: 0px;
  }
}
.result-box {
  margin-top: 20px;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  min-height: 200px;

  & h3 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
.result-box:empty {
  display: none;
}
