span.useTitle {
  border: 1px solid var(--accent);
  background-color: var(--accent);
  color: var(--accent-text);
  padding: 0.5rem 2rem;
  text-decoration: none;
  line-height: normal;
  font-size: inherit;
  font-family: inherit;
  margin-top: 0.5rem;
  border-radius: var(--standard-border-radius);
  box-shadow: none;
  max-width: 100%;
  margin-left: auto;
  max-width: 110px;
  display: block;
  text-align: center;
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.main-widgets {
  margin-bottom: 30px;
  background-color: var(--accent-bg);
  padding: 30px;
  border-radius: 5px;
}
.input-section {
  display: flex;
  gap: 10px;

  & input.main-input  {
    flex: 1;
  }
  & > * {
    margin-bottom: 0px;
  }
}
.loading {
  text-align: center;
}
.result-box {
  margin-top: 20px;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  min-height: 200px;

  & h3 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  & .sticky-wraper {
    text-align: right;
    position: sticky;
    top: 5px;
  }
}
.result-box:empty {
  display: none;
}
